// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$yellowcream: #e8e295;
$yellowgreen: #bbc74c;
$mossgreen: #5a8231;
$darkmoss: #235241;
$darkbrown: #733619;
$background: #f4f2e0;
$grey: rgba(0, 0, 0, 0.55);
$summer: #fcffb2;
$autumn: #f3e0b5;
$winter: #cbf1f5;
$spring: #ff8787;
$info: #bbfdfa;
