<div class="card dashboard border-top-0">
  <div class="container dash_container">
  <!-- ------------------------------- Garden -------------------------------- -->
    <div class="card garden">
    </div>
  </div>
</div>
