<div class="container p-10">
  <nav>
    <%# ------------- Tabs ------------------ %>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

      <%# ------------- Current Tab ------------------ %>
      <button class="nav-link active" id="nav-current-tab" data-bs-toggle="tab" data-bs-target="#nav-current" type="button" role="tab" aria-controls="nav-current" aria-selected="true">Current</button>

      <%# ------------- Upcoming Tab ------------------ %>
      <button class="nav-link" id="nav-upcoming-tab" data-bs-toggle="tab" data-bs-target="#nav-upcoming" type="button" role="tab" aria-controls="nav-upcoming" aria-selected="false">Upcoming</button>

      <%# ------------- History Tab ------------------ %>
      <button class="nav-link" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#nav-history" type="button" role="tab" aria-controls="nav-history" aria-selected="false">History</button>
    </div>
  </nav>

  <%# ------------- Tab Content ------------------ %>
  <div class="tab-content" id="nav-tabContent">

    <%# ------------- Current Tab Content ------------------ %>
    <div class="tab-pane fade show active" id="nav-current" role="tabpanel" aria-labelledby="nav-current-tab">
      <div class="card dashboard border-top-0">
        <div class="container dash_container">
          <% @gardens.each do |garden| %>
            <%= render "current_garden", garden: garden %>
          <% end %>
        </div>
      </div>
    </div>

    <%# ------------- Upcoming Tab Content ------------------ %>
    <div class="tab-pane fade" id="nav-upcoming" role="tabpanel" aria-labelledby="nav-upcoming-tab">
      <div class="card dashboard border-top-0">
        <div class="container">

          <%# ------------- Select Upcoming Season Form ------------------ %>
          <%# <form class="form-inline" style="margin-top: 16px; margin-left: 10px">
            <div class="form-group" style="width: 90px;">
              <label for="exampleFormControlSelect1">Season</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Summer</option>
                <option>Autumn</option>
                <option>Winter</option>
                <option>Spring</option>
              </select>
            </div>
          </form>
        </div> %>

        <%# ------------- Render Gardens ------------------ %>
        <div class="container dash_container">
          <% @gardens.each do |garden| %>
            <%= render "upcoming_garden", garden: garden  %>
          <% end %>
        </div>
      </div>
    </div>

    <%# ------------- History Tab Content ------------------ %>
    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
      <div class="card dashboard border-top-0">
        <div class="container dash_container">
          <% @gardens.each do |garden| %>
            <%= render "past_garden", garden: garden  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
