<div class="container main-card-container">
  <div data-controller="filter-planned-crops">

    <!-- --------------- title ------------------- -->
    <div class="mb-3"><h1>Plans</h1></div>

    <!-- --------------- sub nav ------------------- -->
    <div class="d-flex justify-content-between align-items-top garden-header">

      <!-- --------------- Info Helper ------------------- -->
      <%= render "shared/page_info", empty: @gardens.empty? %>

      <!-- --------------- Filter form ------------------- -->
      <div class="input-group align-self-start mb-3" style="width: 240px; margin-right: 12px;">
        <div class="d-flex">
          <div class="input-group-prepend">
            <label class="input-group-text text-light rounded-4 shadow border-0" style="margin-right: 6px; background-color: #2352419d;" for="season">Season</label>
          </div>
          <select class="custom-select xs shadow border-0 rounded-4" id="season" data-action="change->filter-planned-crops#filterBySeason" data-filter-planned-crops-target="season">
            <option selected>Please select a season</option>
            <option value="Summer">Summer</option>
            <option value="Autumn">Autumn</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
          </select>
        </div>
      </div>
    </div>
    <%# <div class=""> %>
      <% if @gardens %>
        <% @gardens.each do |garden| %>
          <%= render "planned_garden", garden: garden %>
        <% end %>
      <% end %>
      <% if @gardens.empty? %>
        <div class="card my-3">
          <div class="card-header">
            <h2>You don't have any gardens yet</h2>
          </div>
          <div class="card-body no-gardens">
          </div>
        </div>
      <% end %>
    <%# </div> %>
  </div>
</div>
