<div class="card my-3">
  <div class="card-header">
    <h2><%= bed.description %></h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Crops</h5>
    <p class="card-text">TO DO: iterate over crops and display info</p>
    <a href="#" class="btn btn-primary">TO DO: add link to edit bed</a>
  </div>
</div>
