<div class="card my-3">
  <div class="card-header">
    <h2><%= garden.name %></h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">beds</h5>
    <p class="card-text">TO DO: iterate over beds and display bed info</p>
    <a href="#" class="btn btn-primary">TO DO: add link to edit garden</a>
  </div>
</div>
