<div class="card">
  <div class="card-header">
    <h2>Add New Garden?</h2>
  </div>
  <div class="card-body">
    <a href="#" class="btn btn-primary">TO DO: link to add new garden modal </a>
  </div>
</div>
