<%=turbo_frame_tag dom_id(@garden, :new_garden_form) do %>
  <%= simple_form_for (@garden), data: {controller: "turboform"} do |f| %>

      <div class="form-input">
        <%= f.input :name %>
      </div>
      <div class="form-input">
        <div class="form-actions">
          <div class="col-lg-12 mb-0">
            <div class="d-grid"> <%= f.button :submit, "Save Garden", class: "btn btn-primary" %></div>
          </div>
        </div>
      </div>
  <% end %>
<%end%>
