<div class="container p-10">
  <!-- ------------------------------- modal1 -------------------------------- -->
  <div class="modal fade" id="newbedmodal1" aria-hidden="true" aria-labelledby="newbedmodal1" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newbedmodal1">Add Garden</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <!-- ------------------------------- new garden form -------------------------------- -->
              <%= render "new_garden_form", garden: @garden %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ------------------------------- New Garden Button -------------------------------- -->
  <div class="d-flex justify-content-end">
    <a class="btn btn-primary <%= "btn-pulse-primary" if @gardens.empty? %>" data-bs-toggle="modal" href="#newbedmodal1" role="button">+ Garden</a>
  </div>

  <!-- ------------------------------- Display Garden Cards -------------------------------- -->
  <% if @gardens %>
    <% @gardens.each do |garden| %>
      <%= render "garden", garden: garden %>
    <% end %>
  <% end %>
  <% if @gardens.empty? %>
    <div class="card my-3">
      <div class="card-header">
        <h2>You don't have any gardens yet</h2>
      </div>
      <div class="card-body no-gardens">
      </div>
    </div>
  <% end %>
</div>
