<div class="container p-10">

  <!-- ------------------------------- NEW BED modal1 -------------------------------- -->
  <div class="modal fade" id="newbedmodal1" aria-hidden="true" aria-labelledby="newbedmodal1" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
<<<<<<< HEAD
          <h1 class="modal-title fs-5">+ New Bed</h1>
=======
          <h1 class="modal-title fs-5" id="newbedmodal1">Add Bed</h1>
>>>>>>> 490574c (udpated add bed button on garden show)
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <%= render "beds/new"  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <!-- ------------------------------- Back to Gardens button -------------------------------- -->
    <%= link_to ('<i class="fa-regular fa-hand-point-left"></i> Back').html_safe,
            gardens_path,
            class: "btn btn-light"
          %>
  <!-- ------------------------------- New Bed button -------------------------------- -->
    <a class="btn btn-primary <%= "btn-pulse-primary" if @beds.empty? %>" data-bs-toggle="modal" href="#newbedmodal1" role="button">Add Bed</a>
  </div>
  <!-- ------------------------------- list all beds in garden -------------------------------- -->
  <% if @beds %>
    <% @beds.each do |bed| %>
      <%= render "bed", bed: bed %>
    <% end %>
  <% end %>

  <!-- ------------------------------- list all beds in garden -------------------------------- -->
  <% if @beds.empty? %>
    <div class="card my-3">
      <div class="card-header">
        <h2>You don't have any beds yet</h2>
      </div>
      <div class="card-body no-beds">
      </div>
    </div>
  <% end %>
</div>
