.bed {
  background-image: url(bed-background-colour-lower-clarity.jpg);
  background-size: cover;
  opacity: 1;
  height: 250px;
  width: 193px;
  border-style: ridge;
  border-color: $darkbrown;
  border-width: medium;
}
