.btn {
  border-radius: 1rem
}

.btn-pulse-primary {
  box-shadow: 0 0 0 0 rgba(187,199,76,1);
  transform: scale(1);
  animation: pulse-primary 2s infinite;
}

@keyframes pulse-primary {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(187,199,76, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(187,199,76, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(187,199,76, 0);
  }
}

.btn-pulse-secondary {
  box-shadow: 0 0 0 0 rgba(108, 117, 125, 1);
  transform: scale(1);
  animation: pulse-secondary 2s infinite;
}

@keyframes pulse-secondary {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(108, 117, 125, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0);
  }
}

.btn-pulse-info {
  box-shadow: 0 0 0 0 rgba(232, 226, 149, 1);
  transform: scale(1);
  animation: pulse-info 2s infinite;
}

@keyframes pulse-info {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(232, 226, 149, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(232, 226, 149, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(232, 226, 149, 0);
  }
}

.btn-primary:focus {
  background-color: $yellowgreen !important;
  color: black;
}

.btn-check:focus+.btn-info, .btn-info:focus {
  background-color: $yellowcream !important;
}
