.crop-card {
  border-radius: 5px;
  min-width: 18rem;
  max-width: 18rem;
}

.crop-card-header {
  a {
    color: $mossgreen;
  }
}

.crop-card-body {
  background-color: $background;
  border-radius: 5px;
  border: none;
  a {
    color: black;
    text-decoration: none;
  }
}

.crop-card-inner {
  border-radius: 5px;
}
