h1 {
  font-family: "Molen";
  color: $mossgreen;

  .modal-title {
    font-family: 'DM Serif Text', serif;
  }
}

p {
  color: $darkgray;
}

select {
  color: $darkgray;
}

button {
  color: $darkgray;
}
