h1 {
  font-family: 'Margin';
  // color: #5a8231ca;

  .modal-title {
    font-family: 'Margin';
  }
}

p {
  color: $darkgray;
  strong {
    color: #3c3c3cd9;
  }
}

select {
  color: $darkgray;
}

button {
  color: #3c3c3cd2;
  font-weight: bold;
}

.btn {
  color: #3c3c3cd9;
  font-weight: bold;

}

.btn-secondary {
  color: white;
}

h2{
  letter-spacing: .02rem;
  color: #3c3c3cd9;
  a {
    text-decoration: none;
    color: #3c3c3cd9;
  }
}
h5{
  letter-spacing: .02rem;
  color: #3c3c3cd9;
}
