.garden{
  background-image: url(garden_background_colour_low_o.png);
  overflow: hidden;
  background-repeat: repeat;
  background-size: cover;
  min-height: 400px;
  span {
    background-color: $mossgreen;
  }
}

.no-gardens{
  background-image: url(garden_background_greyscale.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  opacity: 0.4;
}

.garden-header {
  color: #5a8231ca;
  a {
    text-decoration: none;
    color: #5a8231ca;
  }
}
.historic-garden {
  background-image: url(compost_background_low_o.png);
  background-repeat: repeat;
  background-size: cover;
  min-height: 400px;
  span {
    background-color: $mossgreen;
  }
}

.planned-garden {
  background-image: url(seeds_background_light_blur_low_o.png);
  background-repeat: repeat;
  background-size: cover;
  min-height: 400px;
  span {
    background-color: $mossgreen;
  }
}
