// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  // color: black;
  z-index: 1;
}
@import "garden";
@import "bed";
@import "crop";
@import "veggie_list";
@import "form";
@import "info";
@import "button";
@import "card";
