.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  z-index: 1;
  // background-image: url(cloud_nav_bar_2.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  min-height: 116px;
  .nav-item {
    margin-left: 10px;
    width: 120px;
    height: 100px;
    background-image: url(cloud-small.png);
    background-size: cover;
    text-align: center;
  }
  a {
    margin-top: 30px;
  }
  img {
    margin-top: 25px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

body {
  padding: 25px;
}
