.navbar-lewagon {
  justify-content: space-between;
  z-index: 10;
  height: 85px;
  padding-bottom: none;
  font-weight: 400;

  .navbar-brand {
    font-family: "Molen";
    font-size: 45px;
    color: $darkgray;
    z-index: 10;
  }

  .nav-item {
    font-weight: bold;
    z-index: 10;

  }

  .dropdown-item {
    color: $darkgray;
    z-index: 10;

  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-flud {
  height: 85px;
}

body {
  padding: 25px;
}

.cloud {
  margin-left: 18px;
  width: 120px;
  height: 85px;
  background-image: url(cloud-final.png);
  background-size: cover;
  text-align: center;
  z-index: 10;


  a {
    margin-top: 24px;
  }
}

.sun {
  margin-left: 18px;
  width: 85px;
  height: 85px;
  background-image: url(sun-final-low-o.png);
  background-size: cover;

  img {
    margin-top: 21px;
    margin-left: 22px;
  }
}
