.seasonal-card {
  color: $gray

  ul {
    list-style: none;
    color: $darkgray
  }
}

.summer {
  .card-header {
    background-color: #e1ffb1;
  }

  .card-bg {
    background-color: #e1ffb1;

  }

  .card-fg {
    background-color: rgba(252, 255, 178, 0.5);
  }

  span {
    background-color: rgba(250, 214, 95, 0.9);
    color: black;
  }
}

.autumn {
  .card-header {
    background-color: #fecd70;
  }

  .card-bg {
    background-color: #ffae6d;
  }

  .card-fg {
    background-color: #f3e0b5;
  }

  span {
    background-color: rgba(248, 171, 39, 0.9);
    color: black;
  }
}

.winter {
  .card-header {
    background-color: #a6e3e9;
  }

  .card-bg {
    background-color: #72c9ce;
  }

  .card-fg {
    background-color: #cbf1f5;
  }

  span {
    background-color: rgba(123, 164, 146, 0.8);
    color: black;
  }
}

.spring {
  .card-header {
    background-color: #bce29e;
  }

  .card-bg {
    background-color: #ff8787;
  }

  .card-fg {
    background-color: #e5ebb2;
  }

  span {
    background-color: rgba(197, 216, 161, 0.9);
    color: black;
  }
}
